<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--Connection Strings-->
	<connectionStrings>
    <add name="Etown Dev CN" connectionString="Server=cns-etdbdevvs1;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Etown Dev US" connectionString="Server=usb-etdbdevvs1;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>

	<!--Xml Generation-->
	<xmlSpewer extension="persistence" result-extension="persistence">
		<assembly path="$(SolutionDir)\packages\EF.CodeGenerators.4.0\lib\net40\EF.CodeGenerators.dll"/>
		<class path="EF.CodeGenerators.PLXMLSpewer" />
		<constructor>
			<argument name="xmlVersion" type="string" value="2.0" />
		</constructor>
		<schemaLocation path="http://code.ef.com/devwiki/GeneratorSchemas/persistence" />
	</xmlSpewer>
	<xmlSpewer extension="lookup" result-extension="lookup">
		<assembly path="$(SolutionDir)\packages\EF.CodeGenerators.4.0\lib\net40\EF.CodeGenerators.dll"/>
		<class path="EF.CodeGenerators.PLXMLSpewer" />
		<constructor>
			<argument name="xmlVersion" type="string" value="2.0" />
		</constructor>
		<schemaLocation path="http://code.ef.com/devwiki/GeneratorSchemas/lookup" />
	</xmlSpewer>
	<xmlSpewer extension="simple" result-extension="simple">
		<assembly path="$(SolutionDir)\packages\EF.CodeGenerators.4.0\lib\net40\EF.CodeGenerators.dll"/>
		<class path="EF.CodeGenerators.SimpleXmlSpewer" />
		<constructor />
		<schemaLocation path="http://code.ef.com/devwiki/GeneratorSchemas/simple" />
	</xmlSpewer>
	<xmlSpewer extension="command" result-extension="command">
		<assembly path="$(SolutionDir)\packages\EF.CodeGenerators.4.0\lib\net40\EF.CodeGenerators.dll"/>
		<class path="EF.CodeGenerators.CommandXmlSpewer" />
		<constructor>
			<argument name="language" type="string" value="C#" />
		</constructor>
		<schemaLocation path="http://code.ef.com/devwiki/GeneratorSchemas/command" />
	</xmlSpewer>

	<!--Code Generation C#-->
	<codeGenerator extension="persistence" result-extension="persistence.cs">
		<assembly path="$(SolutionDir)\packages\EF.CodeGenerators.4.0\lib\net40\EF.CodeGenerators.dll"/>
		<class path="EF.CodeGenerators.CSharpCodeDomGenerator" />
		<constructor>
			<argument name="snippets" type="string" value="EF.CodeGenerators.persistence.cs.snippets" />
			<argument name="structure" type="string" value="EF.CodeGenerators.persistence.cs.structure" />
		</constructor>
	</codeGenerator>
	<codeGenerator extension="lookup" result-extension="lookup.cs">
		<assembly path="$(SolutionDir)\packages\EF.CodeGenerators.4.0\lib\net40\EF.CodeGenerators.dll"/>
		<class path="EF.CodeGenerators.CSharpCodeDomGenerator" />
		<constructor>
			<argument name="snippets" type="string" value="EF.CodeGenerators.lookup.cs.snippets" />
			<argument name="structure" type="string" value="EF.CodeGenerators.lookup.cs.structure" />
		</constructor>
	</codeGenerator>
	<codeGenerator extension="simple" result-extension="simple.cs">
		<assembly path="$(SolutionDir)\packages\EF.CodeGenerators.4.0\lib\net40\EF.CodeGenerators.dll"/>
		<class path="EF.CodeGenerators.CSharpCodeDomGenerator" />
		<constructor>
			<argument name="snippets" type="string" value="EF.CodeGenerators.simple.cs.snippets" />
			<argument name="structure" type="string" value="EF.CodeGenerators.simple.cs.structure" />
		</constructor>
	</codeGenerator>
	<codeGenerator extension="command" result-extension="command.cs">
		<assembly path="$(SolutionDir)\packages\EF.CodeGenerators.4.0\lib\net40\EF.CodeGenerators.dll"/>
		<class path="EF.CodeGenerators.CSharpCodeDomGenerator" />
		<constructor>
			<argument name="snippets" type="string" value="EF.CodeGenerators.command.cs.snippets" />
			<argument name="structure" type="string" value="EF.CodeGenerators.command.cs.structure" />
		</constructor>
	</codeGenerator>

	<!--Code Generation VB-->
	<!--<codeGenerator extension="persistence" result-extension="persistence.vb">
		<assembly path="$(SolutionDir)\packages\EF.CodeGenerators.4.0\lib\net40\EF.CodeGenerators.dll"/>
		<class path="EF.CodeGenerators.VBCodeDomGenerator" />
		<constructor>
			<argument name="Snippets" type="string" value="EF.CodeGenerators.persistence.vb.snippets" />
			<argument name="Structure" type="string" value="EF.CodeGenerators.persistence.vb.structure" />
		</constructor>
	</codeGenerator>
	<codeGenerator extension="lookup" result-extension="lookup.vb">
		<assembly path="$(SolutionDir)\packages\EF.CodeGenerators.4.0\lib\net40\EF.CodeGenerators.dll"/>
		<class path="EF.CodeGenerators.VBCodeDomGenerator" />
		<constructor>
			<argument name="Snippets" type="string" value="EF.CodeGenerators.lookup.vb.snippets" />
			<argument name="Structure" type="string" value="EF.CodeGenerators.lookup.vb.structure" />
		</constructor>
	</codeGenerator>
	<codeGenerator extension="simple" result-extension="simple.vb">
		<assembly path="$(SolutionDir)\packages\EF.CodeGenerators.4.0\lib\net40\EF.CodeGenerators.dll"/>
		<class path="EF.CodeGenerators.VBCodeDomGenerator" />
		<constructor>
			<argument name="Snippets" type="string" value="EF.CodeGenerators.simple.vb.snippets" />
			<argument name="Structure" type="string" value="EF.CodeGenerators.simple.vb.structure" />
		</constructor>
	</codeGenerator>
	<codeGenerator extension="command" result-extension="command.vb">
		<assembly path="$(SolutionDir)\packages\EF.CodeGenerators.4.0\lib\net40\EF.CodeGenerators.dll"/>
		<class path="EF.CodeGenerators.VBCodeDomGenerator" />
		<constructor>
			<argument name="Snippets" type="string" value="EF.CodeGenerators.command.vb.snippets" />
			<argument name="Structure" type="string" value="EF.CodeGenerators.command.vb.structure" />
		</constructor>
	</codeGenerator>-->

</configuration>
