<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.css" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/durandal.css" rel="stylesheet" />
</head>
<body>
    <div id="applicationHost">
        <div data-view="views/shell" style="margin-left: 0px; margin-right: 0px; opacity: 1; display: block;" data-active-view="true">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <a class="brand" data-bind="attr: { href: router.visibleRoutes()[0].hash }" href="#/welcome">
                        <i class="icon-home"></i>
                        <span>Durandal</span>
                    </a>
                    @*<ul class="nav" data-bind="foreach: router.visibleRoutes">
                        <li data-bind="css: { active: isActive }" class="">
                            <a data-bind="attr: { href: hash }, html: name" href="#/welcome">Welcome</a>
                        </li>

                        <li data-bind="css: { active: isActive }" class="">
                            <a data-bind="attr: { href: hash }, html: name" href="#/flickr">Flickr</a>
                        </li>

                        <li data-bind="css: { active: isActive }" class="active">
                            <a data-bind="attr: { href: hash }, html: name" href="#/administration">Administration</a>
                        </li>
                    </ul>*@
                    <div class="loader pull-right active" data-bind="css: { active: router.isNavigating }">
                        <i class="icon-spinner icon-2x icon-spin"></i>
                    </div>
                    @*<form class="navbar-search pull-right" data-bind="submit: search">
                        <input type="text" class="search-query" placeholder="Search">
                    </form>*@
                </div>
            </div>

            <div class="container-fluid page-host">
                <section id="countries-view" class="span8" data-bind="template: { name: 'country.admin' }">
                </section>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/amplify.js"></script>

    <script src="~/Scripts/TrafficCop.js"></script>
    <script src="~/Scripts/infuser.js"></script>
    <script src="~/Scripts/sammy-0.7.4.js"></script>
    <script src="~/Scripts/knockout-2.2.1.debug.js"></script>
    <script src="~/Scripts/koExternalTemplateEngine.js"></script>

    <script data-main="Scripts/app/main" src="~/App/durandal/amd/require.js"></script>
</body>
</html>
