<?xml version="1.0"?>
<log4net>

  <appender name="ExceptionManagerAppender" type="EF.Exceptions.ExceptionManagerAppender, EF.Exceptions.log4net">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN" />
      <levelMax value="FATAL" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <root>
    <level value="ALL"/>
    <appender-ref ref="ExceptionManagerAppender"/>
  </root>

</log4net>