<!DOCTYPE html>
<html>
    <head>
        <title>Durandal Starter Kit</title>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        @* Style goes here *@
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/durandal.css" rel="stylesheet" />
    </head>
    <body>
        <div id="applicationHost">
            @Html.Partial("_splash")
        </div>

        @* Preloaded scripts goes here *@
        <script src="~/Scripts/jquery-1.9.1.js"></script>
        <script src="~/Scripts/TrafficCop.js"></script>
        <script src="~/Scripts/infuser.js"></script>
        <script src="~/Scripts/knockout-2.2.1.debug.js"></script>
        <script src="~/Scripts/koExternalTemplateEngine.js"></script>
        <script src="~/Scripts/sammy-0.7.4.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/amplify.js"></script>
        <script src="~/Scripts/underscore.js"></script>

        <script type="text/javascript" src="~/App/durandal/amd/require.js" data-main="/App/main"></script>
    </body>
</html>