<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dolphin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-hk1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dolphin</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dolphin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Dolphin.Data.DolphinObjectContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Dolphin.Data.DolphinObjectContext, Dolphin.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Dolphin.Data.CourseObjectContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Dolphin.Data.CourseObjectContext, Dolphin.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Dolphin.Data.ResourceObjectContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Dolphin.Data.ResourceObjectContext, Dolphin.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="resourceDb" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=CNS-ETDBDEVVS1;Initial Catalog=WebContent;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\resourceDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=CNS-ETDBDEVVS1;Integrated Security=true;Database=WebContent" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="futureDb" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLExpress;Initial Catalog=Dolphin;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\futureDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=.\SQLExpress;Integrated Security=true;Database=Dolphin" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="courseDb" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=CNS-ETDBDEVVS1;Initial Catalog=SchoolPlatform;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\courseDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=CNS-ETDBDEVVS1;Integrated Security=true;Database=SchoolPlatform" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dolphin_db" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:l60k6bwxyj.database.windows.net,1433;Initial Catalog=dolphin_db;User ID=supertigerzou@l60k6bwxyj;Password=p@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dolphin_db_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:l60k6bwxyj.database.windows.net,1433;Initial Catalog=dolphin_db;User ID=supertigerzou@l60k6bwxyj;Password=p@ssw0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)courseDb-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Dolphin.Data.CourseObjectContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Dolphin.Data.DolphinObjectContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Dolphin.Data.ResourceObjectContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dolphin_db-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)futureDb-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)resourceDb-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Dolphin.Data.CourseObjectContext" />
    <_ConnectionStringsToInsert Include="Dolphin.Data.DolphinObjectContext" />
    <_ConnectionStringsToInsert Include="Dolphin.Data.ResourceObjectContext" />
  </ItemGroup>
</Project>