@{
    ViewBag.Title = "Welcome to Dolphin!";
}

<div class="container">
    <div class="row-fluid">
        <div id="content" class="span12>"></div>
    </div>
</div>

<script src="~/lib/jquery-1.9.1.min.js"></script>
<script src="~/lib/underscore-min.js"></script>
<script src="~/lib/backbone-min.js"></script>
<script src="~/bootstrap/js/bootstrap.js"></script>
<script src="~/Scripts/kendo/2013.1.319/kendo.web.min.js"></script>

<script src="~/js/app.js"></script>
<script src="~/js/views/shell.js"></script>
<script src="~/js/views/home.js"></script>
<script src="~/js/views/contact.js"></script>
<script src="~/js/views/course.js"></script>
<script src="~/js/views/employeelist.js"></script>
<script src="~/js/views/employeedetails.js"></script>
<script src="~/js/views/courseunitlist.js"></script>

<!-- SELECT ONE (AND ONLY ONE) OF THE DATA PERSISTENCE SOLUTIONS BELOW -->

<!-- Uncomment the script below to access the application data using an in-memory data store -->
<!--<script src="~/js/models/model-in-memory.js"></script>-->

<!-- Uncomment the script below to access the application data using RESTful services. Open model-rest.js and adjust the URL attributes to reflect your URL endpoints. -->
<script src="~/js/models/model-rest.js"></script>

<!-- Uncomment the script below to access the application data using RESTful services with JSONP. Open model-rest.js and adjust the URL attributes to reflect your REST endpoints. -->
<script src="~/js/models/model-rest-jsonp.js"></script>

<!-- Uncomment the two scripts below to use Parse.com as the data persistence layer. -->
<!--<script src="~/lib/parse-1.2.2.min.js"></script>-->
<!--<script src="~/js/models/model-parse-com.js"></script>-->


