<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="EF.Frameworks.Common" version="2.0.4694.25094" targetFramework="net45" />
  <package id="EF.Frameworks.Common.Lookups" version="2.0.4493.25994" targetFramework="net45" />
  <package id="EF.Frameworks.Orpheus" version="2.0.4694.25487" targetFramework="net45" />
  <package id="EF.Frameworks.Orpheus.Web" version="2.0.4521.17423" targetFramework="net45" />
  <package id="EF.Troop" version="1.0.4811.32453" targetFramework="net45" />
  <package id="EFSchools.Englishtown.Common" version="2.1.4553.31153" targetFramework="net45" />
  <package id="EFSchools.Englishtown.Unity" version="2.6.5.1" targetFramework="net45" />
  <package id="EFSchools.Englishtown.Web.Common" version="2.3.4646.35676" targetFramework="net45" />
  <package id="EFSchools.Englishtown.Web.Troop" version="2.0.4807.26838" targetFramework="net45" />
  <package id="Enyim.Caching" version="2.8.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.38" targetFramework="net45" />
  <package id="Unity" version="2.1.505.2" targetFramework="net45" />
</packages>