<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
  </system.web>

  <appSettings>
    <add key="AppCode" value="Etown" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="MainConfigStoreBootstrap" connectionString="Server=.\SQLExpress;database=ConfigStore;Integrated Security=true"/>
	</connectionStrings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <!--<add name="JSONPModule" preCondition="integratedMode" type="EFSchools.Englishtown.School.SchoolServices.courseware.Helper.Modules.JSONPHttpModule, EFSchools.Englishtown.School.SchoolServices" />-->
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="ResourceServiceContextModule" preCondition="managedHandler" type="EFSchools.Englishtown.Web.Troop.ResourceServiceContextModule, EFSchools.Englishtown.Web.Troop"/>
    </modules>
  </system.webServer>
</configuration>
