<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="ef.webServer" type="System.Configuration.ConfigurationSectionGroup">
      <section name="modules" type="System.Web.Configuration.HttpModulesSection" />
      <section name="handlers" type="System.Web.Configuration.HttpHandlersSection" />
    </sectionGroup>
    <section name="slf4net" type="slf4net.Configuration.SlfConfigurationSection, slf4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" /></configSections>
  <appSettings>
    <add key="AppCode" value="Etown" />
  </appSettings>
  <connectionStrings>
    <add name="futureDb" connectionString="Server=.\SQLExpress;Integrated Security=true;Database=Dolphin" providerName="System.Data.SqlClient" />
    <add name="courseDb" connectionString="Server=CNS-ETDBDEVVS1;Integrated Security=true;Database=SchoolPlatform" providerName="System.Data.SqlClient" />
    <add name="resourceDb" connectionString="Server=CNS-ETDBDEVVS1;Integrated Security=true;Database=WebContent" providerName="System.Data.SqlClient" />
    <add name="dolphin_db" connectionString="Data Source=tcp:l60k6bwxyj.database.windows.net,1433;Initial Catalog=dolphin_db;User ID=supertigerzou@l60k6bwxyj;Password=p@ssw0rd" providerName="System.Data.SqlClient" />

    <remove name="MainConfigStoreBootstrap"/>
    <add name="MainConfigStoreBootstrap" connectionString="Data Source=tcp:l60k6bwxyj.database.windows.net,1433;Initial Catalog=dolphin_db;User ID=supertigerzou@l60k6bwxyj;Password=p@ssw0rd" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <globalization resourceProviderFactoryType="EF.Web.Unity.UnityResourceProviderFactory, EF.Web.Unity" uiCulture="auto" enableClientBasedCulture="true" />
    <httpRuntime />
    <httpHandlers>
      <add path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="EF.Web.Unity.UnityPageHandlerFactory, EF.Web.Unity" />
      <add path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="EF.Web.Unity.UnityHttpHandlerFactory, EF.Web.Unity" />
    <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" /></httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="UnityPageHandlerFactory" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="EF.Web.Unity.UnityPageHandlerFactory, EF.Web.Unity" />
      <add name="UnityHttpHandlerFactory" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="EF.Web.Unity.UnityHttpHandlerFactory, EF.Web.Unity" />
    <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" /></handlers>
    <staticContent>
      <remove fileExtension=".less"/>
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.12.0.0" newVersion="2.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BundleTransformer.Core" publicKeyToken="973c344c93aac60d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.12.0" newVersion="1.7.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <ef.webServer>
    <!--Modules with dependency injection constructors-->
    <modules />
    <!--Handlers with dependency injection constructors-->
    <handlers />
  </ef.webServer>
  <slf4net>
    <factory type="slf4net.log4net.Log4netLoggerFactory, slf4net.log4net">
      <factory-data>
        <configFile value="log4net.config" />
        <watch value="true" />
      </factory-data>
    </factory>
  </slf4net>
<dotless minifyCss="false" cache="true" web="false" /></configuration>